/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
    max-width: 900px;
    margin: auto;
    padding: 80px 0;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

.selfIntro{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.selfIntro .photo{
    position: relative;
}

.selfIntro .profile-photo{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: 2px solid lightgray;
}

.selfIntro .pen{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.selfIntro .text{
    width: 400px;
}

.selfIntro .name{
    margin-bottom: 50px;
}

.selfIntro .name label, .selfIntro .aboutMe label{
    margin-right: 20px;
}

.selfIntro .name input, .selfIntro .aboutMe input{
    width: 80%;
    border:0 none;
    padding: 10px;
    border-bottom: 2px solid black;
}

.tit {
    margin: 10px 0;
    line-height: 1.2;
}

.selfIntro .gotPoint{
    width: 150px;
}

.gotPoint button{
    width: 100%;
    padding: 10px 0;
    border:1px solid #7A8DB3;
    border-radius: 5px;
    background-color: #7A8DB3;
    color: #fff;
}

.gotPoint button:hover{
    background-color: #fff;
    color: #7A8DB3;
}

.block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block > li {  /*1 個藍藍區塊(含標題)*/
    width: 45%;
    border-radius: 10px;
    padding: 10px 0 20px;
    background-color: #7A8DB3;

}

.block > li:nth-child(1), .block > li:nth-child(2){
    margin-bottom: 50px;
}

.eventTit {
    padding: 5px 20px 0;
    margin-bottom: 15px;
    color: #fff;
}

.block .list {  /*1 個藍藍區塊(不含標題)*/
    padding: 20px 25px;
    height: 280px;
    overflow-y: scroll;
    border-radius: 10px;
}

.bg-blue{
    background-color: #7A8DB3;
}

.bg-white{
    background: #fff;
}

.inContent{ /*1 則白色訊息*/
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 4px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 0 20px;
    margin-bottom: 20px;
    height: 100px;
}

.share {
    width: 60px;
    height: 60px;
    margin-right: 30px;
}

.inContent:last-child{
    margin-bottom: 0;
}

.inContent .up a{
    color: #000;
}

.inContent .up a:hover {
    color: #7A8DB3;
}

.inContent .up h4{
    line-height: 1.2;
}

.inContent .up p{
    font-size: 10px;
    color: darkgray;
    margin: 5px 0 10px;
}

.inContent .down, .inContent .down li{
    font-size: 14px;
    display: inline;
}

.inContent .down li {
    margin-right: 10px;
}